.top {
  font-size: 12px;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.left {
  padding-left: 100px;
}
#language {
  background-color: black;
  color: white;
}
span {
  color: white;
}
.left a {
  color: white;
  text-decoration: none;
}
.right {
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
}
.card {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  margin: 0px;
  margin-left: 150px;
  width: fit-content;
}
.signin{
    width: 18%;
    display: flex;
    justify-content: space-between;
}
.signin a{
    color: white;
    text-decoration: none;
}
.fa-crown {
  color: goldenrod;
}
.card a {
  color: white;
  padding-left: 5px;
  text-decoration: none;
}
.heading {
  background-color: black;
  width: 100%;
  text-align: center;
}
.head h1 {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  color: white;
  margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  text-align: center;
  margin: auto;
}
nav {
  background-color: rgb(194, 3, 3);
  z-index: 9999;
}

.navbar-nav {
  margin-left: 10.5%;
}
.navbar-nav-right {
  margin-right: 14.5%;
}
.nav_container {
  text-align: center;
}
.navbar-nav .navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.nav-item a {
  color: white;
  background-color: rgb(194, 3, 3);
  font-weight: 600;
  font-size: 13px;
  padding: 6px 5px 8.2px 5px;
  transition: background-color 1s;
  /* transition: color .5s; */
}
.Icons {
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
  padding: 0;
  margin-left: 250px;
}
.nav-item a :hover,
.nav-item a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
  transition: background-color 1s;
  transition: color 0.5s;
}
.topfixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.topfixed + .content {
  padding-top: 60px;
}
.newsdefinition {
  width: 70%;
  margin-left: 150px;
}
.Latest_news h1 {
  font-weight: 700;
  font-size: 3rem;
}
.Latest_news {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
.news_image img {
  width: 100%;
}
.newscontent {
  padding: 10px 15px 10px 0px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.233);
  display: -webkit-inline-box;
}
.news_details {
  padding: 0 15px;
  width: 70%;
}
.news_details p {
  font-size: 12px;
  color: gray;
}

.pages{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
}

.previous:hover{
    background-color: #ddd;
    color: black;
}

.next {
  background-color: red;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
}

.next:hover{
  background-color: #ddd;
  color: black;
}

.Latest_news2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
.news_image2 img {
  width: 130px;
  margin-top: 10px;
}
.newscontent2 {
  padding: 10px 15px 10px 0px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.233);
  display: -webkit-inline-box;
}
.news_details2 {
  padding: 0 15px;
  width: 70%;
}
.news_details2 p {
  font-size: 12px;
  color: gray;
}

footer {
  border-top: 2px solid red;
  background-color: rgba(0, 0, 0, 0.932);
  padding: 20px;
  color: rgba(255, 255, 255, 0.685);
}

.list_sites {
  display: inline-grid;
}
.list_sites a {
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.list_sites a:hover {
  color: rgba(143, 143, 143, 0.685);
  text-decoration: none;
  transition: color 0.5s;
}
.main_col {
  padding-left: 5rem;
}
.faooter_main {
  padding: 1rem;
}

h5.background {
  position: relative;
  z-index: 1;
}
h5.background :before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.copyright{
  color: rgb(181, 172, 172);
  text-align: center;
  font-size: 10px;
}
